:80 {
    root * /srv
    encode gzip

    handle /sysrev/api/* {
        reverse_proxy sysrev_backend:9500
    }

    handle {
        @static {
        path *.js *.css *.png *.jpg *.jpeg *.gif *.ico *.svg *.woff *.woff2
        }
        header @static Cache-Control "public, max-age=2592000, immutable"
        try_files {path} /sysrev/index.html
        file_server
    }

    log {
        output stdout
        format console
    }
}